<a href="https://colab.research.google.com/github/naveen-kumar-123/10-Days-of-Statistics--HackerRank/blob/master/pre_processing_of_boolean_variables_(KNN_imputed).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# getting the data & required libraries

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np

import pandas as pd
pd.set_option("display.max_rows",20)
pd.set_option("display.max_columns",100)

In [0]:
import matplotlib.pyplot as plt

%matplotlib notebook
import seaborn as sns

In [0]:
air_bnb_bool = pd.read_csv("drive/My Drive/Colab Notebooks/air_bnb_price_prediction(Kaggle)/Data/air_bnb_bool.csv")
air_bnb_bool.head()

,id,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,True,t,t,f
1,6304928,True,t,f,t
2,7919400,True,t,t,t
3,13418779,True,t,t,f
4,3808709,True,t,t,t

# let's build a function to take a column and return the label-encoded column

In [0]:
def label_encode_true_false(column_to_encode):
    '''
    this function takes a column and replaces 
    'true' with 1 
    'false' with 0; I am using Label Binarizer, since all I have in my column is two classes.
    and i couldn't fathom why 'append' operation makes the list multi-dimensional. 
    So, this function returns flattened numpy array.
    '''
    from sklearn.preprocessing import LabelBinarizer
    lb = LabelBinarizer()
    
    lb.fit(column_to_encode)
    
    list_with_bools = lb.transform(column_to_encode)
    return np.asarray(list_with_bools).flatten()

In [0]:
def label_encode_t_f(column_to_encode):
    '''
    this function takes a column and replaces 
    't' with 1 
    'f' with 0
    and i couldn't fathom why 'append' operation makes the list multi-dimensional. 
    So, this function returns flattened numpy array.
    '''
    import numpy as np
    list_with_bools = []
    for x in column_to_encode:
        if type(x) == str:
            if x == 't':
                list_with_bools.append(np.float64(1))
            else:
                list_with_bools.append(np.float64(0))
        else:
            list_with_bools.append(np.NaN)
    return np.asarray(list_with_bools).flatten()

In [0]:
air_bnb_bool.columns.values

array(['id', 'cleaning_fee', 'host_has_profile_pic',
       'host_identity_verified', 'instant_bookable'], dtype=object)

In [0]:
air_bnb_bool.head()

,id,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,True,t,t,f
1,6304928,True,t,f,t
2,7919400,True,t,t,t
3,13418779,True,t,t,f
4,3808709,True,t,t,t

In [0]:
# let's encode and fill-in all variables

air_bnb_bool[["cleaning_fee"]]           = label_encode_true_false(np.asarray(air_bnb_bool[["cleaning_fee"]]).flatten())
air_bnb_bool[["host_has_profile_pic"]]   = label_encode_t_f(np.asarray(air_bnb_bool[["host_has_profile_pic"]]).flatten())
air_bnb_bool[["host_identity_verified"]] = label_encode_t_f(np.asarray(air_bnb_bool[["host_identity_verified"]]).flatten())
air_bnb_bool[["instant_bookable"]]       = label_encode_t_f(np.asarray(air_bnb_bool[["instant_bookable"]]).flatten())

air_bnb_bool.head()

,id,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,1,1.0,1.0,0.0
1,6304928,1,1.0,0.0,1.0
2,7919400,1,1.0,1.0,1.0
3,13418779,1,1.0,1.0,0.0
4,3808709,1,1.0,1.0,1.0

In [0]:
air_bnb_bool.set_index("id")

,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
id,,,,
6901257,1,1.0,1.0,0.0
6304928,1,1.0,0.0,1.0
7919400,1,1.0,1.0,1.0
13418779,1,1.0,1.0,0.0
3808709,1,1.0,1.0,1.0
12422935,1,1.0,1.0,1.0
11825529,1,1.0,0.0,1.0
13971273,1,1.0,1.0,0.0
180792,1,1.0,0.0,0.0
5385260,1,1.0,0.0,1.0
...,...,...,...,...
18077717,1,1.0,1.0,0.0
7935934,0,1.0,0.0,0.0
11829011,1,1.0,0.0,0.0
14934112,1,1.0,1.0,0.0
808802,1,1.0,1.0,0.0
14549287,0,1.0,1.0,0.0
13281809,1,1.0,0.0,0.0
18688039,1,1.0,1.0,1.0
17045948,1,1.0,0.0,1.0
3534845,0,1.0,1.0,0.0

In [0]:
air_bnb_bool.head()

,id,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,1,1.0,1.0,0.0
1,6304928,1,1.0,0.0,1.0
2,7919400,1,1.0,1.0,1.0
3,13418779,1,1.0,1.0,0.0
4,3808709,1,1.0,1.0,1.0

In [0]:
# # air_bnb_bool.to_csv("drive/My Drive/Colab Notebooks/air_bnb_price_prediction(Kaggle)/Dataair_bnb_bool_label_encoded.csv")
# air_bnb_bool = pd.read_csv("drive/My Drive/Colab Notebooks/air_bnb_price_prediction(Kaggle)/Data/air_bnb_bool_label_encoded.csv")
# air_bnb_bool.head()

# Since I now have the encoded `bool`, let's proceed to imputing.

# scaling the numeric data for KNN

In [0]:
air_bnb_num  = pd.read_csv("drive/My Drive/Colab Notebooks/air_bnb_price_prediction(Kaggle)/Data/air_bnb_num_imputed.csv")

In [0]:
# Since i've planned to impute null values usnig KNN, let's first normalize the dataframe with numerical values to 0-1.
# And since bools already are in the same range, there should no problem with scales.
# then join the scaled dataframe to the boolean dataframe and impute; 
# scale back after that.

from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()

In [0]:
# since i have also planned to scale to original data, i'm first gonna fit to the original dataframe

normalizer_max = min_max.fit(air_bnb_num.loc[:,['log_price', 'accommodates', 'bathrooms',
                                                'host_response_rate', 'number_of_reviews',
                                                'review_scores_rating', 'bedrooms', 'beds']])

In [0]:
air_num_norm = normalizer_max.transform(air_bnb_num.loc[:,['log_price', 'accommodates', 'bathrooms',
                                                                 'host_response_rate', 'number_of_reviews',
                                                                 'review_scores_rating', 'bedrooms', 'beds']])

In [7]:
# since our scaled dataframe doesn't have "id" column. let's drop that

air_bnb_columns = list(air_bnb_num.columns.values)
air_bnb_columns.remove("id")
list(air_bnb_columns)

['log_price',
 'accommodates',
 'bathrooms',
 'host_response_rate',
 'number_of_reviews',
 'review_scores_rating',
 'bedrooms',
 'beds']

In [8]:
air_bnb_scaled = pd.DataFrame(data=air_num_norm,
                              columns=air_bnb_columns,
                              index=air_bnb_num["id"])
air_bnb_scaled.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds
id,,,,,,,,
6901257,0.659259,0.133333,0.125,0.9395,0.003306,1.000000,0.1,0.055556
6304928,0.674951,0.400000,0.125,1.0000,0.009917,0.912500,0.3,0.166667
7919400,0.654799,0.266667,0.125,1.0000,0.016529,0.900000,0.1,0.166667
13418779,0.871016,0.200000,0.125,0.9463,0.000000,0.933417,0.2,0.111111
3808709,0.624300,0.066667,0.125,1.0000,0.006612,0.250000,0.0,0.055556

In [9]:
original_data = pd.DataFrame(data=normalizer_max.inverse_transform(air_bnb_scaled),
                              columns=air_bnb_columns,
                              index=air_bnb_num["id"])
original_data.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds
id,,,,,,,,
6901257,5.010635,3.0,1.0,0.9395,2.0,100.000000,1.0,1.0
6304928,5.129899,7.0,1.0,1.0000,6.0,93.000000,3.0,3.0
7919400,4.976734,5.0,1.0,1.0000,10.0,92.000000,1.0,3.0
13418779,6.620073,4.0,1.0,0.9463,0.0,94.673387,2.0,2.0
3808709,4.744932,2.0,1.0,1.0000,4.0,40.000000,0.0,1.0

In [10]:
air_bnb_num.head()

,id,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds
0,6901257,5.010635,3.0,1.0,0.9395,2.0,100.000000,1.0,1.0
1,6304928,5.129899,7.0,1.0,1.0000,6.0,93.000000,3.0,3.0
2,7919400,4.976734,5.0,1.0,1.0000,10.0,92.000000,1.0,3.0
3,13418779,6.620073,4.0,1.0,0.9463,0.0,94.673387,2.0,2.0
4,3808709,4.744932,2.0,1.0,1.0000,4.0,40.000000,0.0,1.0

In [33]:
air_bnb_bool = pd.read_csv("drive/My Drive/Colab Notebooks/air_bnb_price_prediction(Kaggle)/Data/air_bnb_bool_label_encoded.csv")
air_bnb_bool.drop("Unnamed: 0",axis=1,inplace=True)
air_bnb_bool.head()

,id,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,1,1.0,1.0,0.0
1,6304928,1,1.0,0.0,1.0
2,7919400,1,1.0,1.0,1.0
3,13418779,1,1.0,1.0,0.0
4,3808709,1,1.0,1.0,1.0

In [45]:
print(air_bnb_bool.shape)
print()
print(air_bnb_scaled.shape)

(74111, 5)

(74111, 8)

In [41]:
# let's join these dataframes for imputing

air_voice = pd.merge(air_bnb_scaled, air_bnb_bool, on="id")
air_voice.set_index("id")
# air_voice.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
id,,,,,,,,,,,,
6901257,0.659259,0.133333,0.125,0.9395,0.003306,1.000000,0.1,0.055556,1,1.0,1.0,0.0
6304928,0.674951,0.400000,0.125,1.0000,0.009917,0.912500,0.3,0.166667,1,1.0,0.0,1.0
7919400,0.654799,0.266667,0.125,1.0000,0.016529,0.900000,0.1,0.166667,1,1.0,1.0,1.0
13418779,0.871016,0.200000,0.125,0.9463,0.000000,0.933417,0.2,0.111111,1,1.0,1.0,0.0
3808709,0.624300,0.066667,0.125,1.0000,0.006612,0.250000,0.0,0.055556,1,1.0,1.0,1.0
12422935,0.584528,0.066667,0.125,1.0000,0.004959,1.000000,0.1,0.055556,1,1.0,1.0,1.0
11825529,0.581396,0.133333,0.125,1.0000,0.024793,0.962500,0.1,0.055556,1,1.0,0.0,1.0
13971273,0.629900,0.066667,0.125,1.0000,0.014876,0.912500,0.1,0.055556,1,1.0,1.0,0.0
180792,0.629900,0.066667,0.125,1.0000,0.262810,0.987500,0.1,0.055556,1,1.0,0.0,0.0
5385260,0.471491,0.066667,0.125,1.0000,0.003306,0.875000,0.1,0.055556,1,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
18077717,0.603253,0.000000,0.125,1.0000,0.006612,0.875000,0.1,0.055556,1,1.0,1.0,0.0
7935934,0.540876,0.600000,0.375,1.0000,0.001653,0.750000,0.1,0.555556,0,1.0,0.0,0.0
11829011,0.675727,0.066667,0.125,1.0000,0.039669,0.975000,0.1,0.055556,1,1.0,0.0,0.0
14934112,0.573221,0.066667,0.125,1.0000,0.009917,1.000000,0.1,0.055556,1,1.0,1.0,0.0
808802,0.558983,0.066667,0.125,0.7500,0.059504,0.887500,0.1,0.055556,1,1.0,1.0,0.0
14549287,0.605911,0.000000,0.125,0.9261,0.000000,0.935333,0.1,0.055556,0,1.0,1.0,0.0
13281809,0.663573,0.200000,0.250,1.0000,0.026446,0.912500,0.2,0.222222,1,1.0,0.0,0.0
18688039,0.686853,0.266667,0.125,1.0000,0.071074,0.925000,0.2,0.111111,1,1.0,1.0,1.0
17045948,0.693779,0.066667,0.125,1.0000,0.000000,0.937702,0.0,0.111111,1,1.0,0.0,1.0
3534845,0.638391,0.200000,0.125,1.0000,0.338843,0.950000,0.1,0.111111,0,1.0,1.0,0.0

# let's start KNN imputation by predicting categories

In [36]:
air_voice.isnull().sum()

id                          0
log_price                   0
accommodates                0
bathrooms                   0
host_response_rate          0
number_of_reviews           0
review_scores_rating        0
bedrooms                    0
beds                        0
cleaning_fee                0
host_has_profile_pic      188
host_identity_verified    188
instant_bookable            0
dtype: int64

In [35]:
air_voice.columns.values

array(['id', 'log_price', 'accommodates', 'bathrooms',
       'host_response_rate', 'number_of_reviews', 'review_scores_rating',
       'bedrooms', 'beds', 'cleaning_fee', 'host_has_profile_pic',
       'host_identity_verified', 'instant_bookable'], dtype=object)

In [0]:
# let's find K to train KNN
# from formula sqrt(n), K can be less than 
def appropriate_k(x_train,x_test,y_train,y_test,k_max):
    '''
    this function takes x & y train & test dataframes,
    fits KNN with a different K value each time to the data;
    And MSE will be calcuated comparing the predictions to test data
    and returns the K value that has max accuracy(accuracy because I care more about sesnsitivity and specificity)
    '''
    from sklearn.neighbors import KNeighborsClassifier
    from sklearn.metrics import f1_score
    
    k_list = []
    f1_list = []
    
    for i in range(10,k_max):
        knn = KNeighborsClassifier(n_neighbors=i)
        knn_model = knn.fit(x_train,y_train)
        knn_pred = knn_model.predict(x_test)
        f1 = f1_score(y_test,knn_pred)
        k_list.append(i)
        f1_list.append(f1)
        
    return k_list[f1_list.index(max(f1_list))]

In [0]:
def get_knn_predictions(x_train,y_train,x_test,n_neigh):
    '''
    this function takes x & y train and y train data, along with k value for knn
    and fits KNN to the data
    and returns the list of predicted classes by KNN
    '''
    
    from sklearn.neighbors import KNeighborsClassifier
    from numpy import asarray
    
    knn_model = KNeighborsClassifier(n_neighbors=n_neigh)
    model = knn_model.fit(x_train,y_train)
    predictions_list = model.predict(x_test)
    return np.asarray(predictions_list).flatten()

In [0]:
# let's make dataframes to train KNN on to predict null values
air_voice_with_null = air_voice.copy()
air_voice_no_null = air_voice_with_null.dropna()

In [51]:
air_voice_with_null.head(n=10)

,id,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,0.659259,0.133333,0.125,0.9395,0.003306,1.000000,0.1,0.055556,1,1.0,1.0,0.0
1,6304928,0.674951,0.400000,0.125,1.0000,0.009917,0.912500,0.3,0.166667,1,1.0,0.0,1.0
2,7919400,0.654799,0.266667,0.125,1.0000,0.016529,0.900000,0.1,0.166667,1,1.0,1.0,1.0
3,13418779,0.871016,0.200000,0.125,0.9463,0.000000,0.933417,0.2,0.111111,1,1.0,1.0,0.0
4,3808709,0.624300,0.066667,0.125,1.0000,0.006612,0.250000,0.0,0.055556,1,1.0,1.0,1.0
5,12422935,0.584528,0.066667,0.125,1.0000,0.004959,1.000000,0.1,0.055556,1,1.0,1.0,1.0
6,11825529,0.581396,0.133333,0.125,1.0000,0.024793,0.962500,0.1,0.055556,1,1.0,0.0,1.0
7,13971273,0.629900,0.066667,0.125,1.0000,0.014876,0.912500,0.1,0.055556,1,1.0,1.0,0.0
8,180792,0.629900,0.066667,0.125,1.0000,0.262810,0.987500,0.1,0.055556,1,1.0,0.0,0.0
9,5385260,0.471491,0.066667,0.125,1.0000,0.003306,0.875000,0.1,0.055556,1,1.0,0.0,1.0

In [52]:
air_voice_no_null.head(n=10)

,id,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,0.659259,0.133333,0.125,0.9395,0.003306,1.000000,0.1,0.055556,1,1.0,1.0,0.0
1,6304928,0.674951,0.400000,0.125,1.0000,0.009917,0.912500,0.3,0.166667,1,1.0,0.0,1.0
2,7919400,0.654799,0.266667,0.125,1.0000,0.016529,0.900000,0.1,0.166667,1,1.0,1.0,1.0
3,13418779,0.871016,0.200000,0.125,0.9463,0.000000,0.933417,0.2,0.111111,1,1.0,1.0,0.0
4,3808709,0.624300,0.066667,0.125,1.0000,0.006612,0.250000,0.0,0.055556,1,1.0,1.0,1.0
5,12422935,0.584528,0.066667,0.125,1.0000,0.004959,1.000000,0.1,0.055556,1,1.0,1.0,1.0
6,11825529,0.581396,0.133333,0.125,1.0000,0.024793,0.962500,0.1,0.055556,1,1.0,0.0,1.0
7,13971273,0.629900,0.066667,0.125,1.0000,0.014876,0.912500,0.1,0.055556,1,1.0,1.0,0.0
8,180792,0.629900,0.066667,0.125,1.0000,0.262810,0.987500,0.1,0.055556,1,1.0,0.0,0.0
9,5385260,0.471491,0.066667,0.125,1.0000,0.003306,0.875000,0.1,0.055556,1,1.0,0.0,1.0

# let's impute `host_has_profile_pic` column

In [53]:
print(air_voice_no_null.loc[:,"host_has_profile_pic"].value_counts(normalize=True))
print()
print(air_voice_no_null.loc[:,"host_has_profile_pic"].value_counts())

1.0    0.996943
0.0    0.003057
Name: host_has_profile_pic, dtype: float64

1.0    73697
0.0      226
Name: host_has_profile_pic, dtype: int64

In [54]:
# # Since we have a column that is highly unbalanced, considering all rows for training makes no sense.
# # And predictions will be highly biased too.

# # So, let's make a new balanced that has balanced class
# air_profile = pd.concat([
#     air_voice_no_null[air_voice_no_null.loc[:,"host_has_profile_pic"] == 0].sample(frac=.999999),
#     air_voice_no_null[air_voice_no_null.loc[:,"host_has_profile_pic"] == 1].sample(frac=.004)
# ])

air_profile = pd.concat([
    air_voice_no_null[air_voice_no_null.loc[:,"host_has_profile_pic"] == 0].sample(n=226),
    air_voice_no_null[air_voice_no_null.loc[:,"host_has_profile_pic"] == 1].sample(n=290)
])

air_profile.loc[:,"host_has_profile_pic"].value_counts(normalize=True)

1.0    0.562016
0.0    0.437984
Name: host_has_profile_pic, dtype: float64

In [56]:
air_profile.set_index("id")

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
id,,,,,,,,,,,,
19088709,0.557090,0.000000,0.1250,0.91730,0.000000,0.928881,0.1,0.055556,0,0.0,0.0,0.0
12891469,0.852188,0.200000,0.1250,1.00000,0.003306,1.000000,0.1,0.111111,1,0.0,0.0,0.0
14911027,0.703530,0.200000,0.1250,1.00000,0.000000,0.933569,0.1,0.166667,1,0.0,0.0,1.0
21052765,0.605911,0.066667,0.1250,0.93600,0.000000,0.937752,0.0,0.055556,1,0.0,0.0,0.0
18343907,0.574897,0.000000,0.1250,0.90000,0.231405,0.925000,0.1,0.055556,1,0.0,0.0,1.0
5969033,0.750458,0.466667,0.3125,0.95270,0.000000,0.931603,0.0,0.111111,0,0.0,0.0,1.0
15618172,0.659259,0.200000,0.1250,1.00000,0.061157,0.900000,0.1,0.111111,1,0.0,1.0,0.0
2038551,0.543015,0.200000,0.1250,0.95325,0.000000,0.900907,0.1,0.111111,1,0.0,0.0,1.0
4914460,0.654799,0.066667,0.1250,1.00000,0.099174,0.925000,0.1,0.055556,1,0.0,0.0,0.0
4902565,0.741380,0.200000,0.2500,0.94335,0.000000,0.945615,0.1,0.111111,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1016004,0.634214,0.133333,0.1250,1.00000,0.001653,1.000000,0.1,0.055556,1,1.0,1.0,0.0
14109765,0.538701,0.066667,0.3750,1.00000,0.044628,0.937500,0.1,0.055556,1,1.0,1.0,0.0
3779790,0.592049,0.066667,0.1250,1.00000,0.004959,0.912500,0.2,0.111111,1,1.0,1.0,0.0
7439885,0.605911,0.000000,0.1250,0.92610,0.000000,0.935333,0.1,0.055556,0,1.0,0.0,1.0
14200668,0.514713,0.066667,0.1250,0.95865,0.000000,0.922681,0.1,0.055556,1,1.0,1.0,0.0
1174346,0.557090,0.066667,0.1875,1.00000,0.193388,0.962500,0.1,0.055556,1,1.0,1.0,1.0
13056839,0.519873,0.066667,0.1250,1.00000,0.024793,0.837500,0.1,0.055556,1,1.0,0.0,1.0
450939,0.803806,0.266667,0.3125,1.00000,0.011570,0.887500,0.2,0.166667,0,1.0,0.0,0.0
7221712,0.592049,0.066667,0.1250,1.00000,0.042975,0.937500,0.0,0.055556,0,1.0,1.0,0.0
9199352,0.635271,0.066667,0.1250,1.00000,0.001653,1.000000,0.1,0.055556,1,1.0,1.0,0.0

In [57]:
np.asarray(air_profile.columns.values)

array(['id', 'log_price', 'accommodates', 'bathrooms',
       'host_response_rate', 'number_of_reviews', 'review_scores_rating',
       'bedrooms', 'beds', 'cleaning_fee', 'host_has_profile_pic',
       'host_identity_verified', 'instant_bookable'], dtype=object)

In [65]:
air_voice.isnull().sum()

id                          0
log_price                   0
accommodates                0
bathrooms                   0
host_response_rate          0
number_of_reviews           0
review_scores_rating        0
bedrooms                    0
beds                        0
cleaning_fee                0
host_has_profile_pic      188
host_identity_verified    188
instant_bookable            0
dtype: int64

In [0]:
from sklearn.model_selection import train_test_split

profile_x_train,profile_x_test,profile_y_train,profile_y_test = train_test_split(air_profile.loc[:,['log_price', 'accommodates', 'bathrooms',
                                                                                                    'host_response_rate', 'number_of_reviews', 
                                                                                                    'review_scores_rating','bedrooms', 'beds', 
                                                                                                    'cleaning_fee', 'instant_bookable']],
                                                                                air_profile.loc[:, 'host_has_profile_pic'],
                                                                                test_size=0.2)

In [67]:
print(profile_x_train.shape)
print(profile_x_test.shape)
print(profile_y_train.shape)
print(profile_y_test.shape)

(412, 10)
(104, 10)
(412,)
(104,)

In [68]:
import math
math.sqrt(412+104)

22.715633383201094

In [0]:
# # let's make train and test dataframes

# profile_x    = air_voice_with_null.loc[:,['log_price', 'accommodates', 'bathrooms','host_response_rate',
#                                           'number_of_reviews', 'review_scores_rating','bedrooms', 'beds', 
#                                           'cleaning_fee', 'instant_bookable']]
# profile_y    = air_voice_with_null.loc[:, 'host_has_profile_pic']


profile_test = air_voice_with_null.loc[:,['log_price', 'accommodates', 'bathrooms','host_response_rate', 
                                          'number_of_reviews', 'review_scores_rating','bedrooms', 'beds', 
                                          'cleaning_fee', 'instant_bookable']]

In [0]:
# Let's train the KNN on dataframe with balanced classes and get appropriate K.
# And get predictions based on that K value

# getting appropriate K value
k_profile = appropriate_k(x_train=profile_x_train, x_test=profile_x_test, y_train=profile_y_train, y_test=profile_y_test,k_max=24)

In [0]:
# k_profile
profile_predictions = get_knn_predictions(x_train=profile_x_train,y_train=profile_y_train,x_test=profile_test,n_neigh=k_profile)

In [92]:
profile_predictions.shape

(74111,)

In [0]:
profile_test.loc[:,"host_has_profile_pic"] = profile_predictions

In [100]:
# let's fill null values in original dataframe
air_voice_with_null.loc[:,"host_has_profile_pic"].fillna(profile_test.loc[:,"host_has_profile_pic"], inplace=True)
air_voice_with_null.isnull().sum()

id                          0
log_price                   0
accommodates                0
bathrooms                   0
host_response_rate          0
number_of_reviews           0
review_scores_rating        0
bedrooms                    0
beds                        0
cleaning_fee                0
host_has_profile_pic        0
host_identity_verified    188
instant_bookable            0
dtype: int64

In [116]:
# imputed
print(air_voice_with_null.loc[:,"host_has_profile_pic"].value_counts(dropna=False))
print()
print(air_voice.loc[:,"host_has_profile_pic"].value_counts(dropna=False))

1.0    73832
0.0      279
Name: host_has_profile_pic, dtype: int64

1.0    73697
0.0      226
NaN      188
Name: host_has_profile_pic, dtype: int64

In [117]:
air_voice_with_null.isnull().sum()

id                          0
log_price                   0
accommodates                0
bathrooms                   0
host_response_rate          0
number_of_reviews           0
review_scores_rating        0
bedrooms                    0
beds                        0
cleaning_fee                0
host_has_profile_pic        0
host_identity_verified    188
instant_bookable            0
dtype: int64

# let's impute `host_identity_verified` column

In [120]:
print(air_voice_no_null.loc[:,"host_identity_verified"].value_counts(normalize=True)*100)
print()
print(air_voice_no_null.loc[:,"host_identity_verified"].value_counts())

1.0    67.297052
0.0    32.702948
Name: host_identity_verified, dtype: float64

1.0    49748
0.0    24175
Name: host_identity_verified, dtype: int64

In [121]:
air_identity = pd.concat([
    air_voice_no_null[air_voice_no_null.loc[:,"host_identity_verified"] == 0].sample(n=24175),
    air_voice_no_null[air_voice_no_null.loc[:,"host_identity_verified"] == 1].sample(n=24175)
])

air_identity.loc[:,"host_identity_verified"].value_counts(normalize=True)

1.0    0.5
0.0    0.5
Name: host_identity_verified, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split

identity_x_train,identity_x_test,identity_y_train,identity_y_test = train_test_split(air_identity.loc[:,['log_price', 'accommodates', 'bathrooms',
                                                                                                    'host_response_rate', 'number_of_reviews', 
                                                                                                    'review_scores_rating','bedrooms', 'beds', 
                                                                                                    'cleaning_fee', 'instant_bookable']],
                                                                                air_identity.loc[:, "host_identity_verified"],
                                                                                test_size=0.2)

In [123]:
print(identity_x_train.shape)
print(identity_x_test.shape)
print(identity_y_train.shape)
print(identity_y_test.shape)

(38680, 10)
(9670, 10)
(38680,)
(9670,)

In [124]:
math.sqrt(38680)/2

98.33615815151617

In [0]:
# Let's train the KNN on dataframe with balanced classes and get appropriate K.
# And get predictions based on that K value

# getting appropriate K value
k_identity = appropriate_k(x_train=identity_x_train, x_test=identity_x_test, y_train=identity_y_train, y_test=identity_y_test,k_max=100)

In [126]:
k_identity

83

In [0]:
identity_test = air_voice_with_null.loc[:,['log_price', 'accommodates', 'bathrooms','host_response_rate',
                                           'number_of_reviews', 'review_scores_rating','bedrooms', 'beds', 
                                           'cleaning_fee', 'instant_bookable']]

In [0]:
# k_identity
identity_predictions = get_knn_predictions(x_train=identity_x_train,y_train=identity_y_train,x_test=identity_test,n_neigh=k_identity)

In [0]:
identity_test.loc[:,"host_identity_verified"] = identity_predictions

In [130]:
# let's fill null values in original dataframe
air_voice_with_null.loc[:,"host_identity_verified"].fillna(identity_test.loc[:,"host_identity_verified"], inplace=True)
air_voice_with_null.isnull().sum()

id                        0
log_price                 0
accommodates              0
bathrooms                 0
host_response_rate        0
number_of_reviews         0
review_scores_rating      0
bedrooms                  0
beds                      0
cleaning_fee              0
host_has_profile_pic      0
host_identity_verified    0
instant_bookable          0
dtype: int64

# let's scale back and save it

In [131]:
np.asarray(air_voice_with_null.columns.values)

array(['id', 'log_price', 'accommodates', 'bathrooms',
       'host_response_rate', 'number_of_reviews', 'review_scores_rating',
       'bedrooms', 'beds', 'cleaning_fee', 'host_has_profile_pic',
       'host_identity_verified', 'instant_bookable'], dtype=object)

In [132]:
np.asarray(air_bnb_scaled.columns.values)

array(['log_price', 'accommodates', 'bathrooms', 'host_response_rate',
       'number_of_reviews', 'review_scores_rating', 'bedrooms', 'beds'],
      dtype=object)

In [133]:
original_data_num = pd.DataFrame(data=normalizer_max.inverse_transform(air_voice_with_null.loc[:,['log_price', 'accommodates', 'bathrooms', 'host_response_rate',
       'number_of_reviews', 'review_scores_rating', 'bedrooms', 'beds']]),
                              columns=air_bnb_columns,
                              index=air_bnb_num["id"])
original_data_num.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds
id,,,,,,,,
6901257,5.010635,3.0,1.0,0.9395,2.0,100.000000,1.0,1.0
6304928,5.129899,7.0,1.0,1.0000,6.0,93.000000,3.0,3.0
7919400,4.976734,5.0,1.0,1.0000,10.0,92.000000,1.0,3.0
13418779,6.620073,4.0,1.0,0.9463,0.0,94.673387,2.0,2.0
3808709,4.744932,2.0,1.0,1.0000,4.0,40.000000,0.0,1.0

In [135]:
air_bnb_num.head()

,id,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds
0,6901257,5.010635,3.0,1.0,0.9395,2.0,100.000000,1.0,1.0
1,6304928,5.129899,7.0,1.0,1.0000,6.0,93.000000,3.0,3.0
2,7919400,4.976734,5.0,1.0,1.0000,10.0,92.000000,1.0,3.0
3,13418779,6.620073,4.0,1.0,0.9463,0.0,94.673387,2.0,2.0
4,3808709,4.744932,2.0,1.0,1.0000,4.0,40.000000,0.0,1.0

In [134]:
air_bool_imputed = air_voice_with_null.loc[:,['id','cleaning_fee', 'host_has_profile_pic',
                                              'host_identity_verified', 'instant_bookable']]
air_bool_imputed.head()

,id,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,1,1.0,1.0,0.0
1,6304928,1,1.0,0.0,1.0
2,7919400,1,1.0,1.0,1.0
3,13418779,1,1.0,1.0,0.0
4,3808709,1,1.0,1.0,1.0

In [136]:
air_bnb_num_bool_imputed = pd.merge(original_data_num, air_bool_imputed, on="id")
air_bnb_num_bool_imputed.head()

,id,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable
0,6901257,5.010635,3.0,1.0,0.9395,2.0,100.000000,1.0,1.0,1,1.0,1.0,0.0
1,6304928,5.129899,7.0,1.0,1.0000,6.0,93.000000,3.0,3.0,1,1.0,0.0,1.0
2,7919400,4.976734,5.0,1.0,1.0000,10.0,92.000000,1.0,3.0,1,1.0,1.0,1.0
3,13418779,6.620073,4.0,1.0,0.9463,0.0,94.673387,2.0,2.0,1,1.0,1.0,0.0
4,3808709,4.744932,2.0,1.0,1.0000,4.0,40.000000,0.0,1.0,1,1.0,1.0,1.0

In [137]:
air_bnb_num_bool_imputed.isnull().sum()

id                        0
log_price                 0
accommodates              0
bathrooms                 0
host_response_rate        0
number_of_reviews         0
review_scores_rating      0
bedrooms                  0
beds                      0
cleaning_fee              0
host_has_profile_pic      0
host_identity_verified    0
instant_bookable          0
dtype: int64

In [0]:
air_bnb_num_bool_imputed.to_csv("drive/My Drive/Colab Notebooks/air_bnb_price_prediction(Kaggle)/Data/air_bnb_num_bool_imputed.csv")